:root {
    --default-font-family: 'EB Garamond', serif;;
    --default-font-color: #080A0E;
}

body {
    font-family: var(--default-font-family);
    color: var(--default-font-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
    color: #FCFCFC;
    text-shadow: 2px 2px #B49E66;

}

h2 {
    font-size: 64px;
    text-shadow: 2px 2px #B49E66;
}

h3 {
    text-shadow: 1px 1px #B49E66;
}

h4 {
    font-size: 16px;
}

.btn {
    color: Black;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 16px;
    font-style: normal;
}

.btn-default {
    background: transparent url(/img/button.png) center center no-repeat;
    width: 225px;
    height: 95px;
    line-height: 80px;
    display: inline-block;
}

.lunar-top-border {
    background: url(/img/lunar-border-top.png) no-repeat center top;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-size: 100%;
    z-index: 1;
    box-sizing: border-box;
    margin:0;
}

.flora-border {
    position: absolute;
    left: 0;
    width: 100%;
    height: 16px;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: auto 100%;
    z-index: 1;
    background-image: url(/img/flora-adora-gold-divider-bottom.png);
}

.mobile-border {
    background: url(/img/mobile-border.png) no-repeat center top;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-size: 100%;
    z-index: 1;
    box-sizing: border-box;
    margin:0;
}

.drink-list {
    text-align: center;
    font-size: 18px;
}

.drink-list-item {
    margin: 8px;
}

p {
    font-weight: normal;
    line-height: 30px;
}

nav {
    padding: 20px 0;
    background-color: #F8F3E5;
}

nav h2 {
    font-size: 24px;
    text-shadow: 1px 1px #B49E66;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: #F8F3E5;
    padding: 10px 0;
    margin-top: 60px;
}

footer .contact-box {
    background-color: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}


footer .social-links a {
    font-size: 18px;
    margin: 0 20px;
    color: var(--branding-color);
    padding: 10px 15px;
    border-radius: 100%;
    background-color: var(--secondary-color);
    transition: all 100ms ease-in-out;
}

.hero {
    background-color: 	rgb(0,128,128);
    text-align: center;
    padding: 100px 20px;
}

.hero h2{
    font-family: var(--default-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
}

.divider {
    background: url(/img/footer-divider.svg) no-repeat center top;
    top: 0;
    left: 0;
    height: 20px;
    z-index: 1;
    box-sizing: border-box;
    margin:0;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.hero .bio {
    max-width: 80%;
    margin: 0 auto;
    line-height: 2;
}

.btn-branding {
    background-color: var(--branding-color);
    color: white;
    font-size: 18px;
    padding: 18px 46px;
}

.btn-branding-outline {
    color: var(--branding-color);
    outline: solid 1px var(--branding-color);
    font-size: 18px;
    padding: 18px 46px;
}

.project-description {
    padding: 120px 30px;
}

.content-container {
    padding: 60px 20px;
}

.content-container h1 {
    font-size: 64px;
    line-height: 85px;
}

.content-container h2 {
    font-family: var(--default-font-family);
    font-size: 18px;
    line-height: 27px;
}

.content {
    margin: 30px;
}

.content h3 {
    font-family: var(--default-font-family);
    font-size: 24px;
    margin: 20px 0 0;
}

@media (max-width: 960px) {
    h1 {
        font-size: 60px;
    }
}